{%extends 'base.html'%}
{% block content %}
<h1>{{title}}</h1>
<h2>Блог об изучении Django</h2>
<div class="post">
    <h1>Практика №1. Основы Django</h1>
    <h2>Сначала я подумала, что Джанго это просто...</h2>   
    <a href="{% url 'post_1' %}">Подробнее</a>
    
</div>
<div class="post">
    <h1>Практика №2. Шаблоны</h1>
    <h2>Тут уже было сложно ...</h2>
    <a href="{% url 'post_2' %}">Подробнее</a>

</div>

<div class="post">
    <h1>Практика №3. Модели и формы</h1>
    <h2>Эту практику я еще пока не начала делать.</h2>
    <a href="{% url 'post_3' %}">Подробнее</a>
</div>
<img src="/static/img/2.png" alt="Главная картинка" style="width: 50%; display: block; margin-left: auto; margin-right: auto;">
{% endblock %}

