{%extends 'base.html'%}
{% block content %}
<h1>{{title}}</h1>
<h1>Практика №1. Основы Django</h1>
<h2>Сначала я подумала, что Джанго это просто...</h2>
<br></br>
<img src="/static/img/3.jpeg" alt="Главная картинка" style="width: 20%;">
<br></br>
<h4>На первой практике мы поставили Python и запустили первый проект. Создали виртуальное окружение, развернули Django и проверили, как он работает. Потом завели репозиторий на GitHub, добавили туда файлы, написали инструкцию в README. Всё заработало.</h4>
{% endblock %}