{%extends 'base.html'%}
{% block content %}
<h1>{{title}}</h1>
<h1>Практика №2. Шаблоны</h1>
<h2>Тут уже было сложно ...</h2>
<br></br>
<img src="/static/img/4.jpeg" alt="Главная картинка" style="width: 20%;">
<br></br>
<h4>На второй практике мы создали структуру блога. Прописали маршруты для главной, «О блоге» и страницы поста. Сделали шаблоны с наследованием от базового, написали view-функции для связи URL и HTML. Добавили стили и картинки. </h4>
<br></br>
<h4>Когда я попыталась присвоить картинкам классы, чтобы прописать в сss стили для них, ничего не получилось...пришлось прописывать свойства прямо в html</h4>
{% endblock %}
